# Домашнее задание № 1
Вам необходимо провести анализ данных и сделать предсказание

In [ ]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split, GridSearchCV
sns.set(style="whitegrid")
sns.set_color_codes("pastel")
%matplotlib inline

# Data Overview
Ознакомить с данными можно в [источнике](https://www.kaggle.com/uciml/student-alcohol-consumption?select=student-por.csv)

Если вкратце, то у вас есть 30 параметров и одна целевая переменная G3

Данные случайным образом разделены на train и test, для train у вас есть ответы, а для test - нет. Необходимо построить такой алгоритм, который будет хорошо предсказывать на test-овых данных.

In [ ]:
# Читаем данные

train = pd.read_csv('./gdrive/My Drive/Colab Notebooks/HW 1/data/train_features_with_answers.csv')
X_test = pd.read_csv('./gdrive/My Drive/Colab Notebooks/HW 1/data/X_test.csv')

In [ ]:
# Про параметры почитайте в источнике

train.head(10)

  school sex   age address famsize  ... Dalc  Walc  health absences  G3
0     MS   M   NaN       U     LE3  ...    2     3       3        0   9
1     GP   M   NaN       R     LE3  ...    3     5       3       16  12
2     GP   M  15.0       U     GT3  ...    1     1       5        0  13
3     MS   M  17.0       R     GT3  ...    1     3       2        4  11
4     GP   F  20.0       R     GT3  ...    1     2       2        8  12
5     GP   F  17.0       U     GT3  ...    1     1       3        2  14
6     MS   F  18.0       U     GT3  ...    1     2       1        1  16
7     MS   F  17.0       U     GT3  ...    1     2       5        9  10
8     GP   F  15.0       U     GT3  ...    2     3       4        2  12
9     GP   M  18.0       U     GT3  ...    1     2       4        2  16

[10 rows x 31 columns]

In [ ]:
X_test.head(5)

  school sex  age address famsize  ... goout  Dalc  Walc health absences
0     MS   M   18       U     GT3  ...     4     1     4      2        4
1     GP   F   16       U     GT3  ...     3     2     2      4        2
2     MS   F   18       U     GT3  ...     5     1     2      1        0
3     MS   M   16       R     LE3  ...     2     1     3      2        5
4     GP   F   15       R     GT3  ...     4     2     4      5        2

[5 rows x 30 columns]

In [ ]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 454 entries, 0 to 453
Data columns (total 31 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      454 non-null    object
 1   sex         454 non-null    object
 2   age         454 non-null    int64
 3   address     454 non-null    object
 4   famsize     454 non-null    object
 5   Pstatus     454 non-null    object
 6   Medu        454 non-null    int64
 7   Fedu        454 non-null    int64
 8   Mjob        454 non-null    object
 9   Fjob        454 non-null    object
 10  reason      454 non-null    object
 11  guardian    454 non-null    object
 12  traveltime  454 non-null    int64
 13  studytime   454 non-null    int64
 14  failures    454 non-null    int64
 15  schoolsup   454 non-null    object
 16  famsup      454 non-null    object
 17  paid        454 non-null    object
 18  activities  454 non-null    object
 19  nursery     454 non-null    object
 20  higher      454 non-null    object
 21  internet    454 non-null    object
 22  romantic    454 non-null    object
 23  famrel      454 non-null    int64
 24  freetime    454 non-null    int64
 25  goout       454 non-null    int64
 26  Dalc        454 non-null    int64
 27  Walc        454 non-null    int64
 28  health      454 non-null    int64
 29  absences    454 non-null    int64
 30  G3          454 non-null    int64
dtypes: int64(14), object(17)
memory usage: 110.1+ KB

# Визуальный анализ данных (Exploratory Data Analysis) [25 %]

Данных не так много как хотелось бы. Можно попробовать упростить задачу алгоритму и самим выделить значимые признаки. Для этого нужно разобраться со структурой данных.

Отобразите каждый (ну или почти каждый) из параметров удобным для визуального восприятия способом:
- Гистограммы
- Круговые диаграмм
- Графики
- Таблицы
- 3D диаграммы

Основной критерий оценивания - читаемость данных

## Sex

## Age

## Weekly study time

## Romantic Relationship

## Alcohol Consumption

## Прочее

## Final Grade

## Постройте матрицу корреляции между признаками

## Посчитайте число уникальных значений для каждого признака

## Оцените важность фичей c помощью алгоритма мл [+10% к ДЗ]

Можно использовать деревья из sklearn. Вам поможет метод: $ tree.feature_importances_ $

# Предобработка данных [25%]

Теперь перейдем непосредственно к подготовке данных для работы. Не все из описанного ниже нужно делать. Подумайте.

## Найдите и исправьте ошибки в данных

## Попробуйте удалить скоррелированные данные

## Заполните пропуски в данных

Напоминание!
Это можно сделать следующими способами:
- Заполнить нулями
- Выбросить данные с нулями (не рекомендуется)
- Заполнить средним для данного параметра
- Заполнить наиболее соответствующим данному прецеденту [+10% за дз]

## Сделайте признаки категориальными (ну без этого просто не заработает)

## Придумайте сложные признаки

Сложные признаки = комбинации существующих.
Это нужно для того, чтобы самостоятельно добавить нелинейность в алгоритм.
Не менее 2х (это для практики, в обучении можете их не использовать, но это будет означать, что вы плохо их сконструировали).

## Сделайте баллансировку классов

Вот это из категории необязательных.
В данном случае можно сделать ее так:
- Выкинуть те, которых много.
- Дублировать примеры для случаев, которых мало (наиболее адекватный).
- Увеличить lr (вес) тех случаев, которых мало.

# Выбор стратегии валидации [10%]

Итак, у вас есть данные для обучения и данные, на которых необходимо сделать предсказание. Для оценки точности необходимо проводить валидацию (так как мало данных, можно проводить кросс валидацию).
Валидацию проще всего реализовать методами sklearn, например:
- KFold
- ShuffleSplit
- StratifiedKFold
- StratifiedShuffleSplit
- GroupKFold
- GroupShuffleSplit

## Разделите данные и объясните выбор стратегии

## Состязательная валидация (Adversarial Validation) [+30% к ДЗ]

Данная стратегия часто применяется в соревнованиях по машинному обучению. Так как проверить свой алгоритм можем на одних данных, а результат нужен на других, то мы можем оценить степень похожести наших данных на тестовые и выбрать наиболее похожие.
Алгоритм реализации AV:
1. Удаляем ответы из тренировочных данных.
2. Добавляем специальные метки (is_test) для классов: тренировочные данные и тестовые.
То есть у тестовых данных будет значение is_test = 1, а у тренировочных is_test = 0.
4. Учим алгоритм классификации предсказывать данную метку.
5. Делим тренировочные данные на N фолдов и проводим кросс валидацию.
Обучаем N алгоритмов классификации: Каждый учим на всех тестовых данных и на N-1 наборов тренировочных. Предсказываем на 1 тренировочном фолде.
Для каждого примера в каждом фолде тренировочных данных предсказываем вероятность принадлежности тестовой выборке.
6. Сортируем тренировочные данные по вероятности принадлежности тестовой выборке.
7. Делим данные по вероятности и валидируемся на данных, наиболее похожих на тестовые.
8. Обучаемся для итогового предсказания на всех данных.

# Обучение алгоритма

Целевая переменная принимает дискретные значения [0; 20], поэтому вы можете поставить как задачу классификации, так и задачу регрессии. Выберите. Обоснуйте. 

!Не забудьте про оптимизацию параметров алгоритмов, у вас же уже есть данные для валидации.

Тут обоснование

## KNN [10%]

## Регрессия [10%]

## Деревья [20%]

# Сделайте итоговое предсказание

Решением домашнего задания является данный ноутбук + .csv файл с предсказанием.

За лучшее предсказание 5 человек получат +10% к домашке. 
Ваши предсказания должны быть !!!!!!ЦЕЛЫМИ!!!!!
Но мерить будем по MSE.

In [ ]:
# Для jupyter notebook

submission = pd.read_csv('submission.csv', index_col='id')
submission['G3'] = 1 # ваше предсказание
submission.to_csv('submission.csv', index=False)

In [ ]:
# Для colab notebook

from google.colab import files

pd.read_csv('./gdrive/My Drive/Colab Notebooks/HW 1/data/submission.csv', index_col='id')
submission['G3'] = 1 # ваше предсказание
submission.to_csv('submission.csv', index=False)
files.download('submission.csv')